{
  "openapi": "3.1.0",
  "info": {
    "title": "Lute Audit API",
    "version": "0.1.0",
    "description": "Independent verification of a Subgraph index against raw Base RPC logs. POST an ERC-4626 vault + block range and get a machine-readable reconciliation verdict (VERIFIED / FAILED / INCONCLUSIVE) with first-divergence evidence. Bazantic fronts this upstream with x402/MPP payments and exposes each operation as an MCP recipe."
  },
  "servers": [
    { "url": "https://uselute.xyz", "description": "Public Lute verification API" }
  ],
  "paths": {
    "/v1/audits": {
      "post": {
        "operationId": "auditVaultV1",
        "summary": "Run an independent ERC-4626 audit",
        "description": "Runs the Lute verifier against raw Base RPC logs and an indexed candidate.",
        "parameters": [
          { "$ref": "#/components/parameters/ContractQuery" },
          { "$ref": "#/components/parameters/EventQuery" },
          { "$ref": "#/components/parameters/FromBlockQuery" },
          { "$ref": "#/components/parameters/ToBlockQuery" },
          { "$ref": "#/components/parameters/SubgraphQuery" }
        ],
        "responses": {
          "200": { "description": "Audit report", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuditReport" } } } },
          "400": { "description": "Invalid request" },
          "500": { "description": "Audit infrastructure failure" }
        }
      }
    },
    "/v1/verifications": {
      "post": {
        "operationId": "verifyCurrentCandidate",
        "summary": "Verify and persist the configured candidate",
        "description": "Runs the audit, hashes the server-configured candidate, and persists an immutable-ish VerificationRun used by the deployment gate.",
        "parameters": [
          { "$ref": "#/components/parameters/ContractQuery" },
          { "$ref": "#/components/parameters/EventQuery" },
          { "$ref": "#/components/parameters/FromBlockQuery" },
          { "$ref": "#/components/parameters/ToBlockQuery" },
          { "$ref": "#/components/parameters/SubgraphQuery" }
        ],
        "responses": {
          "201": { "description": "Verified run persisted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VerificationRun" } } } },
          "200": { "description": "Run persisted with FAILED or INCONCLUSIVE verdict" }
        }
      }
    },
    "/v1/verifications/{runId}": {
      "get": {
        "operationId": "getVerification",
        "summary": "Get a persisted VerificationRun",
        "parameters": [{ "$ref": "#/components/parameters/RunId" }],
        "responses": { "200": { "description": "VerificationRun", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VerificationRun" } } } }, "404": { "description": "Run not found" } }
      }
    },
    "/v1/verifications/{runId}/evidence": {
      "get": {
        "operationId": "getVerificationEvidence",
        "summary": "Get evidence for a persisted run",
        "parameters": [{ "$ref": "#/components/parameters/RunId" }],
        "responses": { "200": { "description": "Evidence and root" } }
      }
    },
    "/v1/verifications/{runId}/manifest": {
      "get": {
        "operationId": "getVerifiedManifest",
        "summary": "Get the candidate manifest bound to a run",
        "parameters": [{ "$ref": "#/components/parameters/RunId" }],
        "responses": { "200": { "description": "Candidate manifest" } }
      }
    },
    "/v1/verifications/{runId}/pack": {
      "get": {
        "operationId": "getIntegrityPackArtifact",
        "summary": "Get the portable Integrity Pack artifact for a run",
        "description": "Returns the reviewed pack definition, TrustManifest, candidate hash, complete audit evidence, stable lineage ids, and public payment receipt metadata when the run was paid.",
        "parameters": [{ "$ref": "#/components/parameters/RunId" }],
        "responses": { "200": { "description": "Portable Integrity Pack artifact", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IntegrityPackArtifact" } } } }, "404": { "description": "Run not found" } }
      }
    },
    "/v1/integrity-packs": {
      "get": { "operationId": "listIntegrityPacks", "summary": "List supported Integrity Packs", "responses": { "200": { "description": "Integrity Packs" } } }
    },
    "/v1/integrity-packs/erc4626@1": {
      "get": { "operationId": "getErc4626Pack", "summary": "Get the ERC-4626 Integrity Pack", "responses": { "200": { "description": "ERC-4626 pack" } } }
    },
    "/v1/workflows/builds": {
      "get": {
        "operationId": "listWorkflowBuilds",
        "summary": "List recent Lute builds",
        "description": "Lists opaque build ids and deterministic candidate hashes. No filesystem path or secret is accepted from the caller.",
        "responses": { "200": { "description": "Recent builds" } }
      }
    },
    "/v1/workflows/build": {
      "post": {
        "operationId": "buildCandidate",
        "summary": "Build a deterministic ERC-4626 candidate",
        "description": "Scaffolds a Base ERC-4626 candidate from Lute's reviewed template. Compilation is opt-in. Build does not verify or deploy.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowBuildRequest" } } } },
        "responses": { "201": { "description": "Build completed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowBuild" } } } }, "400": { "description": "Invalid build request" } }
      }
    },
    "/v1/workflows/verify": {
      "post": {
        "operationId": "verifyCandidate",
        "summary": "Verify and persist a candidate",
        "description": "Runs the unchanged raw-chain-versus-index verifier and binds the result to the candidate hash. candidateRef is current or a build id returned by the build endpoint.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowVerifyRequest" } } } },
        "responses": { "201": { "description": "VerificationRun persisted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowVerification" } } } }, "400": { "description": "Invalid verification request" } }
      }
    },
    "/v1/workflows/repair": {
      "post": {
        "operationId": "repairCandidate",
        "summary": "Diagnose or explicitly apply a known repair",
        "description": "Returns an evidence-backed RepairContext. Applying the narrow known repair requires applyKnownFix=true and always requires a new verification.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowRepairRequest" } } } },
        "responses": { "200": { "description": "Repair context or applied repair" }, "409": { "description": "Repair/deployment precondition failed" } }
      }
    },
    "/v1/workflows/gate": {
      "post": {
        "operationId": "evaluateDeploymentGate",
        "summary": "Evaluate the fail-closed deployment gate",
        "description": "Compares the exact candidate hash with a persisted verified run. This endpoint never deploys.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowGateRequest" } } } },
        "responses": { "200": { "description": "Gate decision" }, "404": { "description": "Run or build not found" } }
      }
    },
    "/v1/workflows/deploy": {
      "post": {
        "operationId": "deployVerifiedCandidate",
        "summary": "Preview or deploy a verified candidate",
        "description": "dryRun defaults to true. An external deployment requires dryRun=false, confirm=true, and server-side LUTE_ENABLE_DEPLOYMENT=true. The endpoint never accepts private keys.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkflowDeployRequest" } } } },
        "responses": { "200": { "description": "Deployment plan or receipt" }, "409": { "description": "Confirmation or server deployment policy required" } }
      }
    },
    "/api/audit": {
      "post": {
        "operationId": "auditVault",
        "summary": "Reconcile a Subgraph index against raw chain data",
        "description": "Reconstructs the event set directly from Base RPC logs and compares it to the same events as reported by an index. Returns the verdict and, on disagreement, the first divergent (block, tx, logIndex).",
        "parameters": [
          { "$ref": "#/components/parameters/ContractQuery" },
          { "$ref": "#/components/parameters/EventQuery" },
          { "$ref": "#/components/parameters/FromBlockQuery" },
          { "$ref": "#/components/parameters/ToBlockQuery" },
          { "$ref": "#/components/parameters/SubgraphQuery" }
        ],
        "responses": {
          "200": {
            "description": "Audit report",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuditReport" } } }
          },
          "400": { "description": "Invalid request" }
        }
      }
    },
    "/api/events": {
      "get": {
        "operationId": "listSupportedEvents",
        "summary": "List supported ERC-4626 events",
        "description": "Returns the events Lute can verify with their canonical signature and keccak256-derived topic0.",
        "responses": {
          "200": {
            "description": "Supported events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "signature": { "type": "string" },
                      "topic0": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuditRequest": {
        "type": "object",
        "required": ["contract", "fromBlock", "toBlock"],
        "properties": {
          "contract": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "ERC-4626 vault address on Base" },
          "event": { "type": "string", "enum": ["Deposit", "Withdraw"], "default": "Deposit" },
          "fromBlock": { "oneOf": [{ "type": "integer", "minimum": 0 }, { "type": "string", "pattern": "^[0-9]+$" }], "description": "inclusive start block; strings preserve large integers" },
          "toBlock": { "oneOf": [{ "type": "integer", "minimum": 0 }, { "type": "string", "pattern": "^[0-9]+$" }], "description": "inclusive end block (well behind chain head)" },
          "subgraph": { "type": "string", "default": "morpho", "description": "morpho | graphstudio | graphnode:<name> | local[:bug]" }
        }
      },
      "AuditReport": {
        "type": "object",
        "properties": {
          "runId": { "type": "string" },
          "event": { "type": "string" },
          "verdict": { "type": "string", "enum": ["VERIFIED", "FAILED", "INCONCLUSIVE"] },
          "eventsChecked": { "type": "integer" },
          "range": {
            "type": "object",
            "properties": {
              "startBlock": { "type": "string" },
              "endBlock": { "type": "string" },
              "safeHead": { "type": "string" }
            }
          },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "status": { "type": "string", "enum": ["PASS", "FAIL", "UNVERIFIED"] },
                "detail": { "type": "string" }
              }
            }
          },
          "rawEvidence": { "type": "object", "description": "RAW_RPC provenance (topic0, chunkCount, eventCount, rpcAlias)" },
          "subgraphEvidence": { "type": "object", "description": "index provenance (endpoint, entity, pageCount, recordCount)" },
          "evidenceRoot": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "firstDivergence": {
            "type": ["object", "null"],
            "properties": {
              "blockNumber": { "type": "string" },
              "transactionHash": { "type": "string" },
              "logIndex": { "type": "integer" },
              "event": { "type": "string" },
              "check": { "type": "string" }
            }
          }
        }
      },
      "VerificationRun": {
        "type": "object",
        "required": ["schemaVersion", "runId", "candidateHash", "report", "coverage", "evidenceRoot", "verdict"],
        "properties": {
          "schemaVersion": { "const": 1 },
          "runId": { "type": "string" },
          "candidateHash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "candidate": { "type": "object" },
          "report": { "$ref": "#/components/schemas/AuditReport" },
          "coverage": { "type": "object" },
          "evidenceRoot": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "verdict": { "type": "string", "enum": ["VERIFIED", "FAILED", "INCONCLUSIVE"] },
          "revoked": { "type": "boolean" }
        }
      },
      "IntegrityPackArtifact": {
        "type": "object",
        "required": ["schemaVersion", "pack", "trustManifest", "verification", "candidate", "evidence"],
        "properties": {
          "schemaVersion": { "const": 1 },
          "pack": { "type": "object", "description": "The reviewed pack.yaml definition" },
          "trustManifest": { "type": "object", "description": "Stable trust binding for verdict, candidate, subject, sources, and evidence root" },
          "verification": { "type": "object", "description": "Complete AuditReport and coverage" },
          "candidate": { "type": "object", "description": "Candidate hash and deterministic file manifest" },
          "evidence": { "type": "object", "description": "Evidence root and stable block/source/check lineage ids" },
          "payment": { "type": "object", "description": "Public x402 settlement metadata; never contains signing material" }
        }
      },
      "WorkflowBuildRequest": {
        "type": "object",
        "required": ["intent", "startBlock"],
        "properties": {
          "intent": { "type": "string", "minLength": 8, "maxLength": 2000 },
          "contract": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
          "startBlock": { "oneOf": [{ "type": "integer", "minimum": 0 }, { "type": "string", "pattern": "^[0-9]+$" }] },
          "compile": { "type": "boolean", "default": false }
        }
      },
      "WorkflowBuild": {
        "type": "object",
        "required": ["schemaVersion", "buildId", "createdAt", "result"],
        "properties": { "schemaVersion": { "const": 1 }, "buildId": { "type": "string" }, "createdAt": { "type": "string", "format": "date-time" }, "result": { "type": "object", "description": "Build result with candidate hash and stages" } }
      },
      "WorkflowVerifyRequest": {
        "type": "object",
        "required": ["contract", "fromBlock", "toBlock"],
        "properties": {
          "contract": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
          "event": { "type": "string", "enum": ["Deposit", "Withdraw"], "default": "Deposit" },
          "fromBlock": { "oneOf": [{ "type": "integer", "minimum": 0 }, { "type": "string", "pattern": "^[0-9]+$" }] },
          "toBlock": { "oneOf": [{ "type": "integer", "minimum": 0 }, { "type": "string", "pattern": "^[0-9]+$" }] },
          "subgraph": { "type": "string", "default": "morpho" },
          "candidateRef": { "type": "string", "default": "current", "description": "current or an opaque build id" },
          "minConfirmations": { "oneOf": [{ "type": "integer", "minimum": 0 }, { "type": "string", "pattern": "^[0-9]+$" }] }
        }
      },
      "WorkflowVerification": {
        "type": "object",
        "required": ["run", "file", "candidateRef"],
        "properties": { "run": { "$ref": "#/components/schemas/VerificationRun" }, "file": { "type": "string" }, "candidateRef": { "type": "string" } }
      },
      "WorkflowRepairRequest": {
        "type": "object",
        "required": ["runId"],
        "properties": { "runId": { "type": "string" }, "candidateRef": { "type": "string", "default": "current" }, "applyKnownFix": { "type": "boolean", "default": false } }
      },
      "WorkflowGateRequest": {
        "type": "object",
        "required": ["runId"],
        "properties": { "runId": { "type": "string" }, "candidateRef": { "type": "string", "default": "current" } }
      },
      "WorkflowDeployRequest": {
        "type": "object",
        "required": ["runId"],
        "properties": {
          "runId": { "type": "string" },
          "candidateRef": { "type": "string", "default": "current" },
          "dryRun": { "type": "boolean", "default": true },
          "confirm": { "type": "boolean", "default": false },
          "name": { "type": "string" },
          "node": { "type": "string", "format": "uri" },
          "ipfs": { "type": "string", "format": "uri" },
          "versionLabel": { "type": "string" }
        }
      }
    },
    "parameters": {
      "ContractQuery": {
        "name": "contract",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
        "description": "ERC-4626 vault address on Base"
      },
      "EventQuery": {
        "name": "event",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "enum": ["Deposit", "Withdraw"], "default": "Deposit" }
      },
      "FromBlockQuery": {
        "name": "fromBlock",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "pattern": "^[0-9]+$" },
        "description": "inclusive start block; decimal string"
      },
      "ToBlockQuery": {
        "name": "toBlock",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "pattern": "^[0-9]+$" },
        "description": "inclusive end block; decimal string"
      },
      "SubgraphQuery": {
        "name": "subgraph",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "default": "morpho" },
        "description": "morpho | graphstudio | graphnode:<name> | local[:bug]"
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "pattern": "^[A-Za-z0-9_-]+$" }
      }
    }
  }
}
